html, body {
    background: #fff;
font-size: 16px;
	padding: 10px 40px;
}
h2 {
    font-size: 32px;
    text-align: center;
}
h3 {
    font-size: 24px;
    text-align: left;
}
table {
    width: 100%;
    margin: 0 auto;
}
table.table {
    font-size:16px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #eee;
}
table.table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
.result_img {
    display: block;
    width: 600px;
    margin: -20px auto;
}
